$primary: #198754;  // Verd
$body-bg: #e9ecef;
$body-color: #212529;
$secondary: #6c757d;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@import "bootstrap/scss/bootstrap";